@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Khula', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

a{
    color:#fff;
    text-decoration: none;
}

a:hover {
    color: #e98150;
  }

  .start {
    font-size: 1.5rem;
  }

  h1 {
    line-height: 1.4;
    font-size: 4rem;
  }

  
